/* Add your CSS styles here if you want to customize the appearance of the game board */
.board {
    display: grid;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    gap: 2px;
  }
  
.cell {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  background-color: #3dae3d;
  cursor: pointer;
}

.cell .white-disc {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Create a circular shape for the white disc */
  background-color: #fff; /* White color for white disc */
}

.cell .black-disc {
  width: 50px;
  height: 50px;
  border-radius: 50%; /* Create a circular shape for the black disc */
  background-color: #000; /* Black color for black disc */
}

.cell.empty {
  background-color: #3dae3d;
}


.cell.legal-move {
  background-color: #add8e6; /* Light blue for legal move highlighting */
}
  